* {
  box-sizing: border-box;
}

body {
  margin: 0;
  overflow: hidden;
}

#stop {
  position: absolute;
  background-color: thistle;
  padding: 30px;
  top: 0;
  bottom: 0;
  right: 0;
  height: fit-content;
  z-index: 22;
}

#game {
  width: 100vw;
  height: 100vh;
  /* background-color: #ccc; */
  /* background-color: steelblue; */
  background-image: url("./res/bg3.gif");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
}

#bird {
  margin-left: 35vw;
  margin-top: 40vh;
  width: 15vmin;
  height: 15vmin;
  border-radius: 50%;
  background-image: url("./res/birdflap.gif");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  /* object-fit: contain; */
  position: absolute;
  /* border: 2px solid steelblue; */
  /* transition: all ease; */
}

.hurdle {
  /* display: block; */
  position: absolute;
  height: 100vh;
  width: 5vw;
  /* border: 3px solid black; */
}

#toppipe {
  width: 40px;
  height: 35vh;
  background-color: darkgreen;
  background-image: url("./res/green-pipedown.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  margin-top: 0;
}
#gap {
  width: 40px;
  height: 30vh;
  background-color: transparent;
}
#bottompipe {
  width: 40px;
  height: 35vh;
  background-color: rgb(0, 30, 128);
  background-image: url("./res/green-pipeup.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 0;
}
